<!-- start custom analytics snippet -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
// Set your tracking ID of the web property. (Can be copied from tracking code)
	var gaProperty = 'UA-XXXXXXXX-Z';

	// Check if cookie exists, set a window property.
	var disableStr = 'ga-disable-' + gaProperty;
	if (document.cookie.indexOf(disableStr + '=true') > -1) {
	  window[disableStr] = true;
	}

	//»»»paste your tracking code here«««
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63637104-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-63637104-1');
</script>
<!-- end custom analytics snippet -->
</script>
