<!-- start custom analytics snippet -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  // Set to the same value as the web property used on the site
  // Please remove my Analytics ID before taking your site to production if you are forking/cloning this site (otherwise you will mess my own analytics). PLEASE
  var gaProperty = "G-3DJL735HV0";

  // Disable tracking if the opt-out cookie exists.
  var disableStr = "ga-disable-" + gaProperty;
  if (document.cookie.indexOf(disableStr + "=true") > -1) {
    window[disableStr] = true;
  }
</script>
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-3DJL735HV0"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-3DJL735HV0");
</script>

<script>
  /**
   * Function that registers a click on an outbound link in Analytics.
   * This function takes a valid URL string as an argument, and uses that URL string
   * as the event label. Setting the transport method to 'beacon' lets the hit be sent
   * using 'navigator.sendBeacon' in browser that support it.
   */
  var getOutboundLink = function (url) {
    gtag("event", "click", {
      event_category: "outbound",
      event_label: url,
      transport_type: "beacon",
      event_callback: function () {
        document.location = url;
      },
    });
  };
</script>

<!-- end custom analytics snippet  -->
