<!-- start custom analytics snippet -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!--
  // Set your tracking ID of the web property. (Can be copied from tracking code)
	var gaProperty = 'UA-63637104-1';

	// Check if cookie exists, set a window property.
	var disableStr = 'ga-disable-' + gaProperty;
	if (document.cookie.indexOf(disableStr + '=true') > -1) {
	  window[disableStr] = true;
	}
-->
<!--
<script>
// Set to the same value as the web property used on the site
var gaProperty = 'UA-63637104-1';

// Disable tracking if the opt-out cookie exists.
var disableStr = 'ga-disable-' + gaProperty;
if (document.cookie.indexOf(disableStr + '=true') > -1) {
  window[disableStr] = true;
}
-->
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63637104-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-63637104-1');
</script>
<!-- end custom analytics snippet -->
