---
layout: archive
---
{% include base_path %}

{% assign featured_posts = site.posts | where: "featured", true %}
{% if paginator.page == 1 && featured_posts.size > 0 %}
  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].featured_posts | default: "Pinned Posts" }}</h3>

  {% for post in featured_posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
